In [1]:
def say_hello():
    print("Hello Everbody!!")

In [2]:
say_hello()

Hello Everbody!!

In [3]:
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

passing_math_count = 29370
total_student_count = 39170

passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [4]:
my_grades = ['B', 'C', 'B', 'D']

In [5]:
import pandas as pd

my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [13]:
my_grades =pd.Series([92.34, 84.56, 86.78, 98.32])

my_grades

0    92.34
1    84.56
2    86.78
3    98.32
dtype: float64

In [14]:
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    98
dtype: object